<nav class="bg-gray-600 p-4 opacity-90 fixed w-full z-10 top-0 flex flex-col">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <ul class="flex space-x-4 items-center">
                <li>
                    {% if logged_in_user %}
                        <a href="{% url 'customers:profile' %}"
                           class="text-white flex items-center font-bold hover:text-red-500">
                            <span>{{ logged_in_user }}</span> <!-- Name to the right -->
                        </a>
                    {% endif %}
                </li>
                <li><a href="{% url 'products:home' %}" class="text-white hover:text-red-500">Categories</a></li>
                <li>
                    <form id="card" method="get"
                          action="{% if logged_in_user %} <!-- todo:card URL --> {% else %} {% url 'accounts:login' %} {% endif %}">
                        <!-- Use Django template variable to set the cookie -->
                        <button type="submit" id="cardButton"
                                class="text-white hover:text-red-500">
                            🛒Card
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <div>
            {% if logged_in_user %}
                <a href="{% url 'accounts:logout' %}" class="text-white text-xl font-bold hover:text-red-500">Logout</a>
            {% else %}
                <div class="flex ">
                    <form id="loginForm" method="get" action="{% url 'accounts:login' %}">
                        <!-- Use Django template variable to set the cookie -->
                        <button type="submit" id="loginButton2"
                                class="text-white text-xl font-bold pr-2 pb-2 hover:text-red-500 px-2">
                            Login
                        </button>
                    </form>

                    <form id="signupForm" method="get" action="{% url 'accounts:signup' %}">
                        <!-- Use Django template variable to set the cookie -->
                        <button type="submit" id="signupButton"
                                class="text-white text-xl font-bold pr-2 pb-2 hover:text-red-500 px-2">
                            Signup
                        </button>
                    </form>
                </div>

            {% endif %}
        </div>
    </div>
    <div id="messages"></div>


    <script>
        document.getElementById("loginButton2").addEventListener("click", function () {
            // Get the current_url value
            var currentUrl = "{{ current_url }}";

            // Check if the current URL contains any of the keywords
            if (currentUrl.indexOf('login') === -1 && currentUrl.indexOf('signup') === -1 && currentUrl.indexOf('activation') === -1) {
                // Set the cookie
                document.cookie = "next_url=" + currentUrl + ";path=/";
            }
        });
    </script>


    <script>
        document.getElementById("signupButton").addEventListener("click", function () {
            // Get the value you want to save in the cookie
            var currentUrl = "{{ current_url }}";

            // Check if the current URL contains any of the keywords
            if (currentUrl.indexOf('login') === -1 && currentUrl.indexOf('signup') === -1 && currentUrl.indexOf('activation') === -1) {
                // Set the cookie
                document.cookie = "next_url=" + currentUrl + ";path=/";
            }
        });
    </script>

    <script>
        {% if not logged_in_user %}
            document.getElementById("cardButton").addEventListener("click", function () {
                // Get the current_url value
                var currentUrl = "<!-- todo : card URL -->";

                // Check if the current URL contains any of the keywords
                if (currentUrl.indexOf('login') === -1 && currentUrl.indexOf('signup') === -1 && currentUrl.indexOf('activation') === -1) {
                    // Set the cookie
                    document.cookie = "next_url=" + currentUrl + ";path=/";
                }
            });
        {% endif %}
    </script>
</nav>
