{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ product.brand }} {% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center mx-auto w-10/12 mt-4 ">
        {% for id, category in categories.items %}
            <div class="flex flex-col justify-center items-center border border-gray-400 p-4 rounded m-1 mb-4 bg-gray-100"
                 style="width: 95%">
                <h2 class="text-xl font-semibold mb-4"><a
                        href="{% url 'products:category_products' slug=category.name pk=id %}">{{ category.name }}</a>
                </h2>
                <hr class="w-full border-gray-300 mb-4">
                <div class="flex items-center justify-around flex-wrap">
                    <!-- Loop through products in category -->
                    {% for product in category.products %}
                        {% if forloop.counter <= 4 %}
                            <div class="flex flex-col w-1/4 mx-2 border border-gray-300 p-4 rounded m-1 bg-blue-100"
                                 style="width: 225px;">
                                <!-- Product name -->
                                <h3 class="text-lg font-semibold mb-2">{{ product.name }}</h3>
                                <!-- Product image -->
                                <div style="width: 100%; height: 200px; overflow: hidden;" class="rounded">
                                    <a href="{% url 'products:product_detail' slug=product.name pk=product.pk %}"><img src="{{ product.get_first_image.image.url }}" alt="image"
                                            style="width: 100%; height: 100%; object-fit: cover;"></a>
                                </div>
                                <div class="flex justify-around">
                                    <p class="pr-4"{% if product.product_price != product.final_price %}
                                       style="text-decoration: line-through;" {% else %}
                                       style="display: none;" {% endif %}>{{ product.product_price }}</p>
                                    <p class="pl-4">{{ product.final_price }}</p>
                                </div>
                                <!-- Add to Cart button -->
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
                                        value="{{ product.id }}">Add to Cart
                                </button>
                                <!-- Product content goes here -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
