{% extends "base/base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center mx-auto w-10/12 mt-4 ">
        {% for id, category in categories.items %}
            <div class="flex flex-col justify-center items-center border border-gray-400 p-4 rounded m-1 mb-4 bg-gray-100"
                 style="width: 95%">
                <h2 class="text-xl font-semibold mb-4"><a
                        href="{% url 'products:category_products' slug=category.name pk=id %}">{{ category.name }}</a>
                </h2>
                <hr class="w-full border-gray-300 mb-4">
                <div class="flex items-center justify-around flex-wrap">
                    <!-- Loop through products in category -->
                    {% for product in category.products %}
                        {% if forloop.counter <= 4 %}
                            <div class="flex flex-col w-1/4 mx-2 border border-gray-300 p-4 rounded m-1 bg-blue-100"
                                 style="width: 225px;">
                                <!-- Product name -->
                                <h3 class="text-lg font-semibold mb-2">{{ product.name }}</h3>
                                <!-- Product image -->
                                <div style="width: 100%; height: 200px; overflow: hidden;" class="rounded">
                                    <a href="{% url 'products:product_detail' slug=product.name pk=product.pk %}"><img
                                            src="{{ product.get_first_image.image.url }}" alt="image"
                                            style="width: 100%; height: 100%; object-fit: cover;"></a>
                                </div>
                                <div class="flex justify-around">
                                    <p class="pr-4"{% if product.product_price != product.final_price %}
                                       style="text-decoration: line-through;" {% else %}
                                       style="display: none;" {% endif %}>{{ product.product_price }}</p>
                                    <p class="pl-4">{{ product.final_price }}</p>
                                </div>
                                <!-- Add to Cart button -->
                                <form id="add-to-cart-form-{{ product.id }}" method="post"
                                      action="{% url 'orders:add-product' %}"
                                      onsubmit="addToCart(event, '{{ product.id }}')">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <div class="text-center mt-8">
                                        <button type="submit"
                                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            Add to Cart
                                        </button>
                                    </div>
                                </form>
                                <!-- Product content goes here -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function addToCart(event, productId) {
            event.preventDefault(); // Prevent the default form submission behavior

            var form = document.getElementById("add-to-cart-form-" + productId);
            var formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the JSON response
                    var message = data.response; // Extract the message from the response
                    displayMessage(message); // Display the message
                })
                .catch(error => {
                    // Handle error here
                    console.error('Error:', error);
                    // Add error message
                    var errorMessage = 'Failed to add product to cart. Please try again.';
                    displayMessage(errorMessage); // Display the error message
                });
        }

        function displayMessage(message) {
            var messagesDiv = document.getElementById("messages");
            // Clear existing messages
            messagesDiv.innerHTML = '';

            var messageElement = document.createElement("div");
            messageElement.classList.add("alert");
            messageElement.textContent = message;
            messagesDiv.appendChild(messageElement);
        }
    </script>

{% endblock %}
